<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>

<body>
    <%- include('layouts/navbar')  -%>
    <!-- Page header -->
    <header class="masthead">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>G2 Test</h1>
                        <span class="subheading">G2_Test Booking Page</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    <main id="person_container" class="col justify-content-center">
        <form action="/g2_page/submitForm" id="submitForm" method="post" class="col justify-content-center">
            <% if (user && defaultLicense) { %>
                    <h2>Personal Information</h2>
                    <div class="form-group">
                        <label for="first_name">First Name</label>
                            <input type="text" class="form-control" name="first_name" id="first_name" value="<%= user.firstname %>">
                        
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last Name</label>
                            <input type="text" class="form-control" name="last_name" id="last_name" value="<%= user.lastname %>">
                    </div>
                    <div class="form-group">
                        <label for="age">Age</label>
                            <input type="number" class="form-control" name="age" id="age" value="<%= user.age %>">
                    </div>
                    <div class="form-group">
                        <label for="dob">Date Of Birth</label>
                            <input type="text" class="form-control" name="dob" id="dob" value="<%= user.dob %>">
                    </div>
                    <div class="form-group">
                        <label for="license_no">License No.</label>
                            <input type="text" class="form-control" name="license_no" id="license_no" placeholder="Gxxxx-xxxx-xxxx">
                    </div>

                    <h2>Car Information</h2>
                    <div class="form-group">
                        <label for="car_make">Make</label>
                        <input type="text" class="form-control" name="car_make" id="car_make" placeholder="Enter Make" value="<%= user.car_details.make %>">
                        <label for="car_model">Model</label>
                        <input type="text" class="form-control" name="car_model" id="car_model" placeholder="Enter Model" value="<%= user.car_details.model %>">
                        <label for="car_year">Year</label>
                        <input type="number" class="form-control" name="car_year" id="car_year" placeholder="Enter Year" value="<%= user.car_details.year %>">
                        <label for="car_plate">Plate Number</label>
                        <input type="text" class="form-control" name="car_plate" id="car_plate" placeholder="Enter Plate No." value="<%= user.car_details.platno %>">
                    </div>
                    <input type="hidden" name="mongo_id" value="<%= user._id %>" readonly>
                <div class="row mb-3 justify-content-sm-evenly">
                    <button id="submit" type="submit" class="btn btn-primary col-sm-2">Submit</button>
                    <button id="clear" type="submit" class="btn btn-primary col-sm-2">Clear</button>
                </div>

                <% } else { %>    
            

            <h2>Personal Information</h2>
            <div class="form-group">
                <label for="first_name">First Name</label>
                    <input type="text" class="form-control" name="first_name" id="first_name" value="<%= user.firstname %>" readonly>
                
            </div>
            <div class="form-group">
                <label for="last_name">Last Name</label>
                    <input type="text" class="form-control" name="last_name" id="last_name" value="<%= user.lastname %>" readonly>
            </div>
            <div class="form-group">
                <label for="age">Age</label>
                    <input type="number" class="form-control" name="age" id="age" value="<%= user.age %>" readonly>
            </div>
            <div class="form-group">
                <label for="dob">Date Of Birth</label>
                    <input type="text" class="form-control" name="dob" id="dob" value="<%= user.dob %>" readonly>
            </div>
            <h2>Car Information</h2>
            <div class="form-group">
                <label for="car_make">Make</label>
                <input type="text" class="form-control" name="car_make" id="car_make" placeholder="Enter Make" value="<%= user.car_details.make %>" readonly>
                <label for="car_model">Model</label>
                <input type="text" class="form-control" name="car_model" id="car_model" placeholder="Enter Model" value="<%= user.car_details.model %>" readonly>
                <label for="car_year">Year</label>
                <input type="number" class="form-control" name="car_year" id="car_year" placeholder="Enter Year" value="<%= user.car_details.year %>" readonly>
                <label for="car_plate">Plate Number</label>
                <input type="text" class="form-control" name="car_plate" id="car_plate" placeholder="Enter Plate No." value="<%= user.car_details.platno %>" readonly>
            </div>
        <% } %>
            
            
        </form>
    </main>
    <hr>
    <%- include('layouts/footer'); -%>
    <%- include('layouts/scripts')  -%>
</body>
</html>